 * {
     margin: 0;
     padding: 0;
 }
 /* table */
 table {
     border-spacing: 0;
     text-align: center;
     display: inline-block;
     margin-right: 10px;
 }

 tr:nth-child(n+2)>td:nth-child(n+2) {
     border: 1px solid #ddd;
 }

 td {
     width: 40px;
     height: 40px;
 }
 /* control */

 #control {
     margin: 1px auto;
     width: 40%;
     display: inline-block;
 }

 #control div {
     display: -webkit-flex;
     display: flex;
     justify-content: flex-start;
 }
 /* block */

 #block {
     height: 100%;
     width: 100%;
     background-color: #f00;
     overflow: hidden;
     transition: all 1s;
 }

 #block2 {
     height: 20%;
     width: 100%;
     background-color: #00f;
 }