* {
    margin: 0;
    border: 0;
}

.container {
    width: 500px;
    border: 1px solid #000000;
    margin: 80px auto;
    padding: 20px 30px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.box {
    margin: auto;
    height: 300px;
    width: 500px;
    background: palegreen;
    position: relative;
    overflow: hidden;
}

.bac {
    position: absolute;
    top: 20px;
    left: 50px;
    height: 260px;
    width: 400px;
}

.title {
    position: absolute;
    height: 260px;
    width: 400px;
    top: 20px;
    left: 50px;
}

h2 {
    color: transparent;
    font-family: "微软雅黑";
    font-size: 40px;
    background-image: -webkit-linear-gradient(left, #2481ce, #d0e74a 25%, #2481ce 50%, #d0e74a 75%, #2481ce 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    animation: streamer 5s infinite linear;
    line-height: 260px;
    margin: 0;
    opacity: 0;
}

.box:hover img {
    -webkit-filter: blur(3px);
}

.box:hover .bac {
    opacity: 0.05;
    background: #a7c6e2;
    transition: all 5s ease-in-out;
}

.title:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 98%;
    left: 50%;
    top: 0;
    visibility: hidden;
}

.box:hover .title:before {
    visibility: visible;
    content: '';
    border:  solid #ccc;
    border-width: 2px 0;
    left: 0;
    height: 98%;
    width: 100%;
    transition: all 1s ease-in;
}

.title:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 50%;
}

.box:hover .title:after {
    content: ' ';
    border:solid #ccc;
    border-width: 0 2px;
    left: 0;
    top: 0;
    height: 100%;
    width: 99%;
    transition: all 1s ease-in;
}

.box:hover h2 {
    opacity: 1;
    transition: all 2s ease;
}

@keyframes streamer {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -100%;
    }
}